Repository tinacms/tinacms, pull requests merged in 2020-06, with the labels that each got.

#1190 Generic inline settings & Inline group default controls
  packages/demo-next/data/info.md
  packages/demo-next/pages/info.js
  packages/react-tinacms-inline/src/blocks/block-settings.tsx
  packages/react-tinacms-inline/src/blocks/index.ts
  packages/react-tinacms-inline/src/blocks/inline-block-field-controls.tsx
  packages/react-tinacms-inline/src/index.tsx
  packages/react-tinacms-inline/src/inline-group/inline-group-controls.tsx
  packages/react-tinacms-inline/src/inline-group/inline-group.tsx
  packages/react-tinacms-inline/src/inline-settings.tsx
  packages/react-tinacms-inline/src/styles/focus-ring.tsx
Labels: inline-editing

#1203 Style: Revised Blocks Controls
  packages/react-tinacms-inline/src/blocks/add-block-menu.tsx
  packages/react-tinacms-inline/src/blocks/inline-block-field-controls.tsx
  packages/react-tinacms-inline/src/inline-group/inline-group-controls.tsx
  packages/react-tinacms-inline/src/inline-settings.tsx
  packages/react-tinacms-inline/src/styles/focus-ring.tsx
Labels: inline-editing

#1206 Spruce up demo-next styles
  packages/demo-next/components/BlogList.js
  packages/demo-next/components/Header.js
  packages/demo-next/components/Layout.js
  packages/demo-next/package.json
  packages/demo-next/pages/blocks.tsx
  packages/demo-next/pages/info.js
  packages/demo-next/pages/nesting.tsx
Labels: demo, style

#1205 Inline form focus
  commitlint.config.js
  packages/demo-next/package-lock.json
  packages/demo-next/pages/info.js
  packages/demo-next/pages/nesting.tsx
  packages/gatsby-tinacms-json/package-lock.json
  packages/react-dismissible/src/Dismissible.tsx
  packages/react-tinacms-inline/package.json
  packages/react-tinacms-inline/src/blocks/inline-block-field-controls.tsx
  packages/react-tinacms-inline/src/inline-form.tsx
  packages/react-tinacms-inline/src/inline-group/inline-group-controls.tsx
  packages/react-tinacms-inline/src/inline-group/inline-group.tsx
  packages/react-tinacms-inline/src/styles/focus-ring.tsx
  packages/tinacms/package-lock.json
Labels: inline-editing

#1209 chore: adding more blocks sets focus to the new block
  packages/react-tinacms-inline/src/blocks/add-block-menu.tsx
  packages/react-tinacms-inline/src/blocks/inline-block-field-controls.tsx
  packages/react-tinacms-inline/src/blocks/inline-field-blocks.tsx
Labels: inline-editing

#1210 Add Inset Option For Blocks Controls
  packages/demo-next/pages/nesting.tsx
  packages/react-tinacms-inline/src/blocks/inline-block-field-controls.tsx
  packages/react-tinacms-inline/src/inline-group/inline-group-controls.tsx
  packages/react-tinacms-inline/src/inline-group/inline-group.tsx
Labels: inline-editing

#1244 fix: editor scrolling while changing mode
  packages/react-tinacms-editor/src/components/BaseMenubar/index.tsx
  packages/react-tinacms-editor/src/components/MarkdownEditor/index.tsx
  packages/react-tinacms-editor/src/components/Wysiwyg/index.tsx
Labels: fix

#1257 fix: prevents empty tag field registering
  packages/@tinacms/fields/src/plugins/TagsFieldPlugin.tsx
Labels: fix

#1256 chore: inline textarea shows focus ring by default
  packages/react-tinacms-inline/src/fields/inline-textarea-field.tsx
Labels: inline-editing

#1279 Inline blocks child props
  packages/demo-next/pages/blocks.tsx
  packages/react-tinacms-inline/src/blocks/inline-field-blocks.tsx
Labels: enhancement, inline-editing

#1271 fix: improvements in code block
  packages/demo-gatsby/content/blog/open-authoring-is-coming/index.md
  packages/react-tinacms-editor/src/components/MenuHelpers/commandControl.tsx
  packages/react-tinacms-editor/src/components/ProsemirrorEditor/index.tsx
  packages/react-tinacms-editor/src/plugins/CodeBlock/Menu/ProsemirrorMenu.tsx
  packages/react-tinacms-editor/src/plugins/CodeBlock/nodeView.ts
  packages/react-tinacms-editor/src/plugins/Table/Menu/ProsemirrorMenu.tsx
Labels: fix

#1285 fix: code block breaking heading dropdown
  packages/react-tinacms-editor/src/components/MenuHelpers/MenuDropdown.tsx
  packages/react-tinacms-editor/src/plugins/Link/Menu/ProsemirrorMenu.tsx
Labels: fix

#1296 Minor Style Fixes
  packages/@tinacms/fields/src/plugins/wrapFieldWithMeta.tsx
  packages/@tinacms/react-toolbar/src/components/Toolbar.tsx
  packages/@tinacms/styles/src/Styles.tsx
Labels: fix
