Repository tinacms/tinacms, pull requests merged in 2020-12, with the labels that each got.

#1646 feat(react-tinacms-inline): Adds Block Label
  packages/demo-next/pages/nesting.tsx
  packages/react-tinacms-inline/README.md
  packages/react-tinacms-inline/src/blocks/inline-block-field-controls.tsx
  packages/react-tinacms-inline/src/inline-group/inline-group-controls.tsx
Labels: enhancement, inline-editing

#1625 feat(react-tinacms-inline): Custom block actions
  packages/demo-next/pages/nesting.tsx
  packages/react-tinacms-inline/README.md
  packages/react-tinacms-inline/src/blocks/inline-block-field-controls.tsx
Labels: enhancement, inline-editing

#1649 Fix(react-tinacms-inline): add block `defaultItem` accepts function
  packages/react-tinacms-inline/src/blocks/add-block-menu.tsx
Labels: fix, inline-editing

#1659 style: fix inset block label
  packages/react-tinacms-inline/src/blocks/inline-block-field-controls.tsx
Labels: fix, style

#1663 style: fix pointer events
  packages/react-tinacms-inline/src/blocks/inline-block-field-controls.tsx
Labels: fix, style

#1666 docs: update NextGithubMediaStore docs
  packages/next-tinacms-github/README.md
Labels: documentation
