Repository tinacms/tinacms, pull requests merged in 2020-10, with the labels that each got.

#1530 feat(react-tinacms-editor): wysiwyg opens media manager
  packages/demo-next/data/blog/apple.md
  packages/demo-next/pages/_app.js
  packages/demo-next/pages/blog/[slug].tsx
  packages/react-tinacms-editor/README.md
  packages/react-tinacms-editor/src/components/MarkdownEditor/index.test.tsx
  packages/react-tinacms-editor/src/components/Wysiwyg/index.tsx
  packages/react-tinacms-editor/src/plugins/Image/Menu/ProsemirrorMenu.tsx
  packages/react-tinacms-editor/src/tinacms-inline/inline-wysiwyg.tsx
  packages/react-tinacms-editor/src/types.ts
  packages/react-tinacms-editor/stories/wysiwyg.stories.tsx
Labels: media

#1532 docs(react-tinacms-editor): tweaks contributing docs
  packages/react-tinacms-editor/README.md
  packages/react-tinacms-editor/editor-docs/README.md
Labels: documentation

#1531 Commit newly created files
  packages/gatsby-tinacms-json/src/create-json-plugin.ts
  packages/gatsby-tinacms-remark/src/remark-creator-plugin.ts
Labels: gatsby

#1540 chore(demo-gatsby): media updates
  packages/demo-gatsby/src/templates/blog-post.js
  packages/react-tinacms-editor/src/plugins/Image/Menu/ProsemirrorMenu.tsx
  packages/tinacms/src/components/media/media-manager.tsx
Labels: demo, media

#1542 (@tinacms/git-client): git-media-store#list doesn't set previewSrc
  packages/@tinacms/git-client/src/git-media-store.ts
  packages/demo-next/next-git-media-store.js
  packages/tinacms/src/components/media/media-manager.tsx
Labels: media

#1554 chore(react-tinacms-editor): don't insert previewSrc into content body
  packages/react-tinacms-editor/src/components/ProsemirrorEditor/Menubar/index.tsx
  packages/react-tinacms-editor/src/components/ProsemirrorEditor/index.tsx
  packages/react-tinacms-editor/src/plugins/Image/Menu/ProsemirrorMenu.tsx
Labels: editor, media

#1555 feat(react-tinacms-editor): Sidebar wysiwyg images, removes media popup
  packages/demo-next/pages/info.js
  packages/react-tinacms-editor/src/plugins/Image/Menu/ProsemirrorMenu.tsx
  packages/react-tinacms-editor/src/tinacms-plugins/HtmlFieldPlugin.tsx
  packages/react-tinacms-editor/src/tinacms-plugins/MarkdownFieldPlugin.tsx
Labels: editor

#1571 docs(react-tinacms-github): add docs on supported image formats
  packages/react-tinacms-github/README.md
Labels: documentation

#1549 fix(react-tinacms-editor): fixes menu jumping to top on scroll
  packages/demo-next/pages/info.js
  packages/react-tinacms-editor/src/components/BaseMenubar/index.tsx
  packages/react-tinacms-editor/src/utils.ts
Labels: editor, fix

#1587 Feature/export settings modal
  packages/react-tinacms-inline/src/inline-settings.tsx
Labels: enhancement
